#!/bin/bash
收集crust-member节点chain运行状态信息并推送到prometheus,0表示正在运行，1表示异常
member_chain_status=`crust status| grep chain | grep running > /dev/null && echo 0 || echo 1`
echo "pushgateway_member_chain_status $member_chain_status" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/chain/instance/{{ inventory_hostname }}

#收集crust-member节点api运行状态信息并推送到prometheus,0表示正在运行，1表示异常
member_api_status=`crust status| grep api | grep running > /dev/null && echo 0 || echo 1`
echo "pushgateway_member_api_status $member_api_status" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/api/instance/{{ inventory_hostname }}

#收集crust-member节点sworker运行状态信息并推送到prometheus,0表示正在运行，1表示异常
member_sworker_status=`crust status| grep sworker | grep running > /dev/null && echo 0 || echo 1`
echo "pushgateway_member_sworker_status $member_sworker_status" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/sworker/instance/{{ inventory_hostname }}

#收集crust-member节点smanager运行状态信息并推送到prometheus,0表示正在运行，1表示异常
member_smanager_status=`crust status| grep smanager | grep running > /dev/null && echo 0 || echo 1`
echo "pushgateway_member_smanager_status $member_smanager_status" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/smanager/instance/{{ inventory_hostname }}

#收集crust-member节点ipfs运行状态信息并推送到prometheus,0表示正在运行，1表示异常
member_ipfs_status=`crust status| grep ipfs | grep running > /dev/null && echo 0 || echo 1`
echo "pushgateway_member_ipfs_status $member_ipfs_status" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/ipfs/instance/{{ inventory_hostname }}

#检查数据盘是否挂载,0表示已挂载，1表示挂载异常
member_mount_status=`df -h| grep /opt/crust/data/files > /dev/null && echo 0 || echo 1`
echo "pushgateway_member_mount_status $member_mount_status" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/ipfs/instance/{{ inventory_hostname }}

#收集本节点当前算力
member_srd_complete=`crust tools workload | grep srd_complete | awk '{print $3}' | awk -F ',' '{print $1}'`
echo "pushgateway_member_srd_complete $member_srd_complete" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/srd_complete/instance/{{ inventory_hostname }}
#检查本节点剩余任务量
member_srd_remaining_task=`crust tools workload | grep srd_remaining_task | awk '{print $3}' | awk -F ',' '{print $1}'`
echo "pushgateway_member_srd_remaining_task $member_srd_remaining_task" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/unit/remaining_task/instance/{{ inventory_hostname }}

#收集最近100行日志
docker logs --tail 100 crust > /tmp/crust.tmp.log 2>&1 
#获取当前member节点chain服务拿到的最新高度
member_best_height=`cat /tmp/crust.tmp.log | grep finalized| grep best | tail -1  | awk -F ',' '{print $2}' |awk '{print $2}'| awk -F '#' '{print $2}'`
echo "pushgateway_member_chain_best_height $member_best_height" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/part/chain/instance/{{ inventory_hostname }}
#获取当前member节点chain服务本地最新高度
member_finalized_height=`cat /tmp/crust.tmp.log | grep finalized| grep best | tail -1  | awk -F ',' '{print $3}' |awk '{print $2}'| awk -F '#' '{print $2}'`
echo "pushgateway_member_chain_finalized_height $member_finalized_height" | curl --data-binary @- http://10.122.31.74:9091/metrics/job/member/part/chain/instance/{{ inventory_hostname }}



